<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courseapp/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>leave a comment</title>
</head>

<body>
    <h1>leave a comment on {{course.name}}</h1>
    <form action="/courses/{{course.id}}/comment/new" method="post">
        {% csrf_token %}
        <input type="text" name="comment" placeholder="leave a comment (be nice)">
        <input type="submit" value="submit">
    </form>
    <ul>
    {%for comment in comments%}

        <li>{{comment.content}}</li>
    {%endfor%}

    </ul>
</body>

</html>